<h1 class="text-center my-5">Ingreso de usuarios</h1>
<div class="row justify-content-center">
    <div class="col-md-6">

        <form action="/login" method="post">
            <input
            class="form-control mb-2"
            name="email"
            placeholder="Ingrese email"
            type="email"
            value="bluuweb@prueba.com"
            >
            <input
            class="form-control mb-2"
            name="password"
            placeholder="Ingrese contraseña"
            type="password"
            value="123123"
            >
            <button type="submit" class="btn btn-primary">Acceder aquí</button>
            <a href="/solicitar-reset-password" class="btn btn-dark">Olvidé contraseña</a>
        </form>

    </div>
</div>