<h1 class="text-center my-5">Registro de usuarios</h1>
<div class="row justify-content-center">
    <div class="col-md-6">

        <form action="/register" method="post">
            <input
            class="form-control mb-2"
            name="nombre"
            placeholder="Ingrese nombre"
            type="text"
            value="bluuweb"
            >
            <input
            class="form-control mb-2"
            name="email"
            placeholder="Ingrese email"
            type="email"
            value="bluuweb@prueba.com"
            >
            <input
            class="form-control mb-2"
            name="password"
            placeholder="Ingrese contraseña"
            type="password"
            value="123123"
            >
            <input
            class="form-control mb-2"
            name="passwordRepit"
            placeholder="Repita contraseña"
            type="password"
            value="123123"
            >
            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
        </form>

    </div>
</div>